body {
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(24, 24, 26);
    
}

hr {
    background-color: rgb(24, 24, 26);
    border-style: dotted none none;
    height: 0px;
    width: 4%;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    
}

canvas {
    border: 1px solid black;
    color: rgb(146, 144, 144);
    background-color: rgb(146, 144, 144);
    margin: 0px auto 0 auto;
}

h1 {
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    margin: 10px auto 0 auto;
    color: #FFA500;
    line-height: 2;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px auto 0 auto;
    color: #FFA500;

}

p {
    font-style: normal;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

button {
    background-color: #FFA500;
    border: none;
    color: rgb(0, 0, 0);
    margin: 25px auto 5px auto;
    padding: 2px 289px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

